body {
  font-family: "Barlow", "Comic Sans MS";
  background-color: #0b0e12;
  color: #fff;
}

table {
  background-color: rgb(0, 217, 255);
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: auto;
  width: 80%;
  box-shadow: 0px 0px 10px #888;
  text-align: center;
  font-family: "Barlow";
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(25, 39, 49);
}

th,
td {
  padding: 8px 10px;
  border-bottom: 1px solid #aaa5;
}

td:last-of-type {
  text-align: center;
}

tbody {
  background-color: #999;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.piloto,
.equipo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bandera,
.logo-equipo {
  width: 24px;
  height: 16px;
  object-fit: contain;
}

.Colapinto {
  color: #006eff;
  text-shadow: 0px 0px 10px #006eff;
}

#posicion {
  width: 3%;
}
